{{template "header.tmpl" .}}

<div class="bx--row landing-page__r2">
    <div class="bx--col-md-4 bx--col-lg-7">
        <p class="landing-page__p">This application show-cases how a developer can leverage capabilities provided by IBM Security Verify. It takes an opinionated data privacy stance and leverages API interfaces provided by Verify. The application is configured as an OAuth2 client on Verify and only obtains an access token on authentication.</p>
        <h1 class="landing-page__gettingstarted">Getting started</h1><a href="/login"
            class="bx--link bx--tile bx--tile--clickable landing-page_primary">Login<svg focusable="false"
                preserveAspectRatio="xMidYMid meet" style="will-change: transform;" aria-label="Login"
                xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 32 32" role="img">
                <path
                    d="M26,30H14a2,2,0,0,1-2-2V25h2v3H26V4H14V7H12V4a2,2,0,0,1,2-2H26a2,2,0,0,1,2,2V28A2,2,0,0,1,26,30Z">
                </path>
                <path d="M14.59 20.59L18.17 17 4 17 4 15 18.17 15 14.59 11.41 16 10 22 16 16 22 14.59 20.59z">
                </path>
            </svg></a>
    </div>
</div>

{{template "footer.tmpl" .}}