{{template "header.tmpl" .}}

<div class="bx--row profile-content">
	<div class="ci--table-container bx--col">
        <div id="tab-panel-1-default" class="profile-content-tab" role="tabpanel"
				aria-labelledby="tab-link-1-default" aria-hidden="false">
				<div>
					<div class="bx--data-table-container">
						<div class="bx--data-table-header">
							<p class="bx--data-table-header__description">This is a dummy MFA Page right now</p>
						</div>
					</div>
				</div>
			</div>
        </div>
    </div>
</div>

{{template "footer.tmpl" .}}